.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.selectDiv{
  border: 1px solid black;
  width: 100px;
  text-align: center;
  margin-top: 300px;
  cursor: pointer;

}
.optionsDiv{
  border: 1px solid black;
  width: 100px;
  cursor: pointer;
  text-align: center;
}