.container {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  background-color: lightgray;
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.red {
  background-color: red;
  color: red;
  }
  
  .blue {
  background-color: blue;
  color: blue;
  } 

/* 

  .game {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
    min-height: 260px;
  }
  
  .game ol,
  .game ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .restart {
    margin-top: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    min-width: 190px;
  } */
